body{
    height: 100vh;
    background-color: #191919;
}

.container{
    border-bottom: 2px solid #E50914;
}

.container i{
    font-size: 2rem;
    color: #E50914;
    border: 2px dotted #E50914;
    padding: 8px;
}
.card{
    border: 1px solid #E50914;
    background-color: rgb(240, 237, 226);
}
.card img{
    width: 270px;
    height: 280px;
    object-fit: cover;
}

h1{
    color: #E50914;
}